<!-- Tag Helper -->
@model RegisterModel

<form method="post">
    <div>
        <label asp-for="GivenName">Given Name</label>
        <div>
            <input type="text" asp-for="GivenName" />
        </div>
    </div>
    <div>
        <label asp-for="Surname">Surname</label>
        <div>
            <input type="text" asp-for="Surname" />
        </div>
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <div>
            <input type="text" asp-for="Email" />
        </div>
    </div>
    <div>
        <label asp-for="Password">Given Name</label>
        <div>
            <input type="text" asp-for="Password" />
        </div>
    </div>
    <div>
        <button> Register</button>
        <a href="/auth/login">Already has an Account</a>
    </div>
</form>