<form method="post">
    <div class="row">
        <label class="form-label col-2" for="name">Name</label>
        <div class="col-10">
            <input type="text" name="categoryname" id="name" />
        </div>
    </div>
    <div class="mt-5">
        <button class="offset-2 btn btn-primary">Save changes</button>
        <a class="btn btn-primary" href="/category">Cancel</a>
    </div>
</form>