<form method="post">
    <div>
        <label for="name">Name</label>
        <div>
            <input type="text" name="categoryname" id="name" />
        </div>
    </div>
    <div>
        <button>Save changes</button>
    </div>
</form>