@model List<WebApp.Models.Category>


<a href="/category/add">Add category</a>
<div>Manage Category</div>
<table class="mt-2 table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Command</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    <a class="btn btn-outline-primary del" href="/category/delete/@item.CategoryId">Delete</a>
                    <a class="btn btn-outline-primary" href="/category/edit/@item.CategoryId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('.del').click(function () {
        return confirm('Are you sure?');
    })
</script>