<form enctype="multipart/form-data" method="post">
    <div>
        <label for="af">Image</label>
        <div>
            <input multiple type="file" name="af" id="af" accept="image/*">
        </div>
    </div>
    <div>
        <button>Upload</button>
        <h1>day la multiple</h1>
    </div>
</form>