<form enctype="multipart/form-data" method="post">
    <div>
        <label for="f">Image</label>
        <div>
            <input type="file" name="f" id="f" accept="image/*">
        </div>
    </div>
    <div>
        <button>Upload</button>
    </div>
</form>