@model Product
<form method="post">
    <input type="hidden" name="id" value="@Model.Id">
    <input type="hidden" name="IMAGEUrl" value="@Model.IMAGEUrl">
    <button>Are you sure you want to delete?</button>
</form>