<ul>
    <li>
        <a href="/welcome">Welcome</a>
    </li>
    <li>
        <a href="/category">Category</a>
    </li>
    <li>
        <a href="/product">Product</a>
    </li>
    <li>
        <a href="/role">Role</a>
    </li>
    <li>
        <a href="/member">Member</a>
    </li>
</ul>