<form method="post">
    <div>
        <label for="">Name</label>
        <input type="text" name="customerName">
    </div>
    <div>
        <label for="">Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="">Phone</label>
        <input type="number" name="phone">
    </div>
    <div>
        <label for="">Address</label>
        <input type="text" name="address">
    </div>
    <div>
        <label for="gender">Gender</label>
        <input type="checkbox" id="gender" name="gender" value="true">
    </div>
    <div>
        <button>Save changes</button>
    </div>
</form>